<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="FolderPath" value="123" />
    <add key="imageformat" value="*.JPG" />
    <add key="DriverPath" value="C:\Users\z003uutr\source\repos\IS_Selenium_Automation\packages\Selenium.WebDriver.ChromeDriver.2.33.0\driver\win32" />
    <add key="ConvertedFolderPath" value="C:\Users\z003uutr\Desktop\temp\Converted\" />
  </appSettings>
</configuration>