<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="ApplicationSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <appSettings>
    <add key="FolderPath" value="C:\Users\z003uutr\Desktop\temp\" />
    <add key="imageformat" value="*.JPG" />
    <add key="DriverPath" value="C:\Users\z003uutr\source\repos\IS_Selenium_Automation\packages\Selenium.WebDriver.ChromeDriver.2.33.0\driver\win32" />
    <add key="ConvertedFolderPath" value="C:\Users\z003uutr\Desktop\temp\Converted\" />
  </appSettings>
</configuration>